/*

   .|'''.|                    .           '||
   ||..  '    ....    ...   .||.    ....   || ..
    ''|||.  .|   '' .|  '|.  ||   .|   ''  ||' ||
  .     '|| ||      ||   ||  ||   ||       ||  ||
  |'....|'   '|...'  '|..|'  '|.'  '|...' .||. ||.
                                ___ by v1b.es ___
*/
p {
  color: #dabdab;
  color: #abc8da;
  color: #76a5c3;
  color: #ead9ce;
  color: #bb8564; }

h1 {
  color: black;
  font-size: 30px;
  line-height: 1.5;
  text-decoration: underline;
  font-weight: bold; }

h2 {
  font-size: 26px; }
